a {
    text-decoration: none;
    font-size: 18px;
    color: orange;
}

p {
    font-size: 18px;
}

a:visited {
    text-decoration: none;
    font-size: 18px;
    color: #ffa500;
}

a:hover {
    color: rgb(177, 116, 3);
}

a:visited:hover {
    color: rgb(177, 116, 3);
}

/* Utilizar selector por atributos para enlaces externos */

[href^="http"]::after {
    content: url('../img/external-link.svg');
    position: relative;
    top: 4px;
    left: 5px;
    margin-right: 5px;
}